
<!-- RESUM -->

<div id="resum" class="row">
  <div class="col-xs-12">
    <h1>BoilerJS Main Page</h1>
    <p>This is the welcome page of your app.</p>
  </div>

  <div class="col-md-6 col-xs-12">
    <div class="widget">
      <div class="widget-body">
        <div class="widget-icon green pull-left">
          <i class="fa fa-users"></i>
        </div>
        <div class="widget-content pull-left">
          <div class="title">{{resum.jugadors || 0}}</div>
          <div class="comment">Users</div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xs-12">
    <div class="widget">
      <div class="widget-body">
        <div class="widget-icon orange pull-left">
          <i class="fa fa-codepen"></i>
        </div>
        <div class="widget-content pull-left">
          <div class="title">{{resum.combats || 0}}</div>
          <div class="comment">Feature 2</div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xs-12">
    <div class="widget">
      <div class="widget-body">
        <div class="widget-icon red pull-left">
          <i class="fa fa-cubes"></i>
        </div>
        <div class="widget-content pull-left">
          <div class="title">{{resum.entrenaments || 0}}</div>
          <div class="comment">Feature 3</div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="spacer visible-xs"></div>
  <div class="col-md-6 col-xs-12">
    <div class="widget">
      <div class="widget-body">
        <div class="widget-icon blue pull-left">
          <i class="fa fa-chain-broken"></i>
        </div>
        <div class="widget-content pull-left">
          <div class="title">{{resum.reptes || 0}}</div>
          <div class="comment">Events</div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>